#header .menu ul li .nav-link {
	color: #000000;
}
#header .currencies-login .cart-login-search ul li a svg {
	fill: #000000;
}
#header .currencies-login .cart-login-search ul li a i {
	color: #000000;
}
#header .currencies-login .cart-login-search ul li a svg {
	fill: #000000;
}
#header .currencies-login .cart-login-search ul li .cart .number-cart {
	color: #000000;
}
.header-v1-h1.menu_scroll_v1 {
	background-color: rgba(#ffffff, 1);
}

.label_menu-ajax-load-morehot-e62e05-2:before {
  	border-top: 4px solid SHOP LAYOUTS;
}

.label_menu-banner-headingnew-28a745-2:before {
  border-top: 4px solid SHOP HEADING;
}

.label_menu-top-filternew-28a745-1:before {
  border-top: 4px solid FILTER LAYOUT;
}

.label_menu-simplenew-28a745-1:before {
  border-top: 4px solid PRODUCT TYPES;
}

.label_menu-variable-color-hot-e62e05-2:before {
  border-top: 4px solid PRODUCT TYPES;
}

.label_menu-quickview-popuptrend-28a745-1:before {
  border-top: 4px solid ANIMATE DEMOS;
}

.label_menu-add-to-cartnew-28a745-3:before {
  border-top: 4px solid ANIMATE DEMOS;
}

.label_menu-9-product-hoverhot-e62e05-2:before {
  border-top: 4px solid #e62e05;
}

.label_menu-all-stylehot-e62e05-5:before {
  border-top: 4px solid #e62e05;
}

.label_menu-minicartnew-28a745-2:before {
  border-top: 4px solid THEME ELEMENT;
}

/* CSS Mobile Screen */
.label_menu-ajax-load-morehot-e62e05-2:before {
  border-top: 4px solid #e62e05;
}

.label_menu-banner-headingnew-28a745-2:before {
  border-top: 4px solid #28a745;
}

.label_menu-banner-headingnew-28a745-2:before {
  border-top: 4px solid #28a745;
}

.label_menu-banner-headingnew-28a745-2:before {
  border-top: 4px solid #28a745;
}

.label_menu-quickview-popuptrend-28a745-1:before {
  border-top: 4px solid #28a745;
}

.label_menu-add-to-cartnew-28a745-3:before {
  border-top: 4px solid #28a745;
}
/* [END] - CSS Mobile Screen */


/* Carousel Desktop */
.section-slideshow-v5 .slick-side-h5 .item-slide .slide-content .box-btn .btn-slide-163040308681e035db-0 {
  color: #ffffff;
  background: #111111;
}

.section-slideshow-v5 .slick-side-h5 .item-slide .slide-content .box-btn .btn-slide-163040308681e035db-0 svg {
  fill: #ffffff;
}

.section-slideshow-v5 .slick-side-h5 .item-slide .slide-content .box-btn .btn-slide-163040308681e035db-0:hover {
  color: #111111;
  background: #ffffff;
}

.section-slideshow-v5 .slick-side-h5 .item-slide .slide-content .box-btn .btn-slide-163040308681e035db-0:hover svg {
  fill: #111111;
}

.section-slideshow-v5 .slick-side-h5 .item-slide .slide-content .box-btn .btn-slide-163040308681e035db-1 {
  color: #ffffff;
  background: #111111;
}

.section-slideshow-v5 .slick-side-h5 .item-slide .slide-content .box-btn .btn-slide-163040308681e035db-1 svg {
  fill: #ffffff;
}

.section-slideshow-v5 .slick-side-h5 .item-slide .slide-content .box-btn .btn-slide-163040308681e035db-1:hover {
  color: #111111;
  background: #ffffff;
}

.section-slideshow-v5 .slick-side-h5 .item-slide .slide-content .box-btn .btn-slide-163040308681e035db-1:hover svg {
  fill: #111111;
}
/* [END] - Carousel Desktop */

/* Last Collection */
.section-banner-v1 .image-description .content .button-shop-template--15009775681732__1630460132a1ef00c1 {
  color: #000000;
}

.section-banner-v1 .image-description .content .button-shop-template--15009775681732__1630460132a1ef00c1:hover {
  color: #ee7b7b;
}
/* [END] - Last Collection */

/* Hot Deal */

/* [END] - Hot Deal */

/* Product Selection */
.section-banner-v9 .banner-item .content .btn1-template--15009775681732__1630472702aeaf89b7:hover {
  color: #ffffff !important;
  background: #000000 !important;
}

.section-banner-v9 .banner-item .content .btn2-template--15009775681732__1630472702aeaf89b7:hover {
  color: #ffffff !important;
  background: #000000 !important;
}

.section-banner-v9 .banner-item .content .btn3-template--15009775681732__1630472702aeaf89b7:hover {
  color: #ffffff !important;
  background: #000000 !important;
}
/* [END] - Product Selection */

/* Best Seller */

/* [END] - Best Seller */

/* Banner Bottom */
.section-banner-v2 .banner-box .banner-info .button-shop-template--15009775681732__16304719324b2f0608 {
	color: #ffffff;
	background: #000000;
}

.section-banner-v2 .banner-box .banner-info .button-shop-template--15009775681732__16304719324b2f0608:hover {
	color: #000000;
	background: #ffffff;
}
/* [END] - Banner Bottom */

/* Footer */
.footer_v1 .top-footer {
	background: #ffffff;
}

.footer_v1 .copyright {
	background: #ffffff;
}

.footer_v1 .top-footer .info_footer .title_border:after {
	background-color: #111111;
}

.footer_v1 .top-footer .info_footer h4 {
	color: #111111;
}

.footer_v1 .top-footer .info_footer ul li a {
	color: #111111;
}

.footer_v1 .top-footer .info_footer .content_footer {
	color: #111111;
}

.footer_v1 .copyright .text-copyright {
	color: #111111;
}

.footer_v1 .copyright .text-copyright a {
	color: #111111;
}

.footer_v1 .top-footer .info_footer.end .list-icon ul li a {
	color: #111111;
}
/* [END] - Footer */

.slide-content {
  bottom: 45% !important;
}

@media (max-width: 576px) {
  .section-slideshow-v5 .item-slide .slide-content {
    width: 100%;
    padding: 0 50px;
    left: 50% !important;
    top: 50%;
    bottom: unset !important;
    transform: translate(-50%,-50%);
    text-align: center;
  }
}

.section-slideshow-v5 .item-slide .slide-content {
  position: absolute;
  left: 10%;
  bottom: 80px;
  transition: all .4s;
  text-align: left;
  overflow: hidden;
}